
<div>
    <div class="col-md-6 offset-md-3"> 
        <h2 class="text-center"> 面談詳細 </h2>
        <div class="nav justify-content-end">
            <% if current_user.admin? %>
                <%= link_to '編集', edit_interview_path, class: 'nav-link' %>
                <%= link_to '削除', @interview, method: :delete, data: { confirm: "この面談を削除しますか？"}, class: 'nav-link' %> 
            <% end %>
        </div>
        <table class="table table-bordered table-hover"> 
            <tbody> 
                <tr>
                    <td>
                        開始時間
                    </td>
                    <td>
                        <%= @interview.start %> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<% if current_user.admin? %>
    <div>
        <div class="col-md-6 offset-md-3"> 
            <h2 class="text-center"> 申し込み者一覧 </h2>
                    <table class="table table-hover">
                <thead> 
                    <tr>
                        <th>
                            <%= User.human_attribute_name(:id) %> 
                        </th>
                        <th>
                            <%= User.human_attribute_name(:email) %> 
                        </th>
                    </tr>
                </thead>
                <tbody> 
                    <% @registrants.each do |registrant| %>
                        <% interview_registrant = InterviewRegistrant.find_by(interview_id: @interview.id, registrant_id: registrant.id)%>
                        <tr> 
                            <td>
                                <%= registrant.id %>
                            </td>
                            <td>
                                <%= registrant.email %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <%= paginate @registrants %>
        </div>
    </div>
<% end %>