<div class="top">
<div class="col-md-6 offset-md-3"> 
<%= link_to "写真を追加する", [:new, @user, :image], class: 'btn btn-primary' %>
    <table class="table table-bordered">
        <thead>
        <tr>
        <th>番号</th>
        <th>画像</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <% @images.each_with_index do |image, index|%>
        <tr>
        <td><%= (index + 1).to_s %></td>
        <td><%= image_tag image.data.variant(resize: "300x>")%></td>
        <td>
            <div>
                <%= link_to '編集', edit_user_image_path(@user, image),class: 'btn btn-outline-primary'%>
                <%= link_to '削除', user_image_path(@user, image), method: :delete, data: {confirm: "本当に削除しますか？"},class: 'btn btn-outline-primary' %>
            </div>
        </td>
        <% end %>
        </tbody>
    </table>
</div>
</div>