<div>
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center pt-5"> WEB登録フォーム</h2>
        <hr width="750" align="left">
        <p>
            look-for-workはWEBだけで登録完了！翌日のアルバイト・お仕事もOKで、登録しておけばいつでもお仕事検索＆応募が可能です。<br>
            <br>
            STEP1 応募情報登録 >STEP2 写真アップロード >STEP3 確認 >STEP4 完了
        </p>
        <h2 class="text-left pt-5"> 必要事項をご記入ください </h2>
        <%= form_with model: @user, url: registration_path, local: true do |f| %>
        <table id="form_table">
            <tr>
                <td>
                    <%= f.label :new_profile_picture %>
                </td>
                <td>
                    <%= f.file_field :new_profile_picture, class: 'file-form' %>
                </td>
            </tr>
        </table>
        <%= f.submit '確認画面へ進む', class: 'btn btn-primary'%><br>
        <br>
        <%= link_to '戻る', previous_wizard_path, class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>



