<div>
    <div class="col-md-4 offset-md-4"> 
        <h2 class="text-center pt-5"> 本文 </h2>
        <div class="nav justify-content-end">
            <%= link_to 'ワーク一覧', works_path, class: 'nav-link' %>
            <%= link_to '編集', edit_work_path, class: 'nav-link' %>
            <%= link_to '削除', @work, method: :delete, data: { confirm: "このワークを削除しますか？"}, class: 'nav-link' %> 
        </div>
        <table class="table table-hover"> 
            <tbody> 
                <tr>
                    <th>
                        <%= @work.title %> 
                    </th>
                </tr>
                <tr>
                    <td>
                        <%= simple_format(h(@work.description), {}, sanitize: false, wrapper_tag: "div") %> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>