<!-- カルーセル全体の枠組み -->
<div class="carousel slide" id="sample" data-ride="carousel">
    <!-- ここに画像部分を記述 -->
    <div class="carousel-inner">
        <div class="carousel-item active">
        <%= image_tag "business.png", class: "d-block w-100"%>
            <!-- ここに文字部分を記述 -->
            <div class="carousel-caption d-none d-block", id='business'>
                <h1 class="text-left" id="business">業務紹介</h1>
                <hr id="business">
                <p class="text-left" id="business">培ってきた確かなノウハウで、</p>
                <p class="text-left" id="business-p2">あらゆるニーズに柔軟に対応します。</p>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="row">
        <div class="col-lg-4">
            <%=link_to image_tag("circle_1.png",class: "rounded-circle"), '#01'%>
            <h2>01</h2>
            <hr>
            <h5>イベント・コンサートの運営業務</h5>
        </div>
        <div class="col-lg-4">
            <%=link_to image_tag("circle_2.png", class: "rounded-circle"), '#02'%>
            <h2>02</h2>
            <hr>
            <h5>舞台搬入搬出作業</h5>
        </div>
        <div class="col-lg-4">
            <%=link_to image_tag("circle_3.png",class: "rounded-circle"), '#03'%>
            <h2>03</h2>
            <hr>
            <h5>会場警備業務</h5>
        </div>
    </div>

    <div class='inner_box'>

    <div class="row featurette" id='01'>
        <div class="col-md-7">
        <h2 class="featurette-heading">イベント・コンサートの運営業務</h2>
        <hr>
        <p class="lead">入退場管理、グッズ販売、会場内外でのご案内、楽屋でのケータリング等
        現場経験豊富な社員の指揮のもとにイベント運営業務全般をサポートします。
        その日の公演をお客様に楽しんでいただくための安心・安全の環境をつくることが運営スタッフの業務です。</p>
        </div>
        <div class="col-md-5">
        <%= image_tag "test_1.png", class: ""%>
        </div>
    </div>

    <div class="row featurette" id='02'>
        <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">舞台搬入搬出作業 </h2>
        <hr>
        <p class="lead">イベント会場の設営にあたり、資材の搬入搬出を行います。
        限られた時間の中、大小さまざまな会場にステージから音響・照明機器、客席までご用意し、安全快適な催しを支えます。
        何もないところから大きなステージを自分たちの手で作り上げる喜びややりがいを感じることができるお仕事です。
        </p>
        </div>
        <div class="col-md-5 order-md-1">
        <%= image_tag "test_2.png", class: ""%>
        </div>
    </div>


    <div class="row featurette" id='03'>
        <div class="col-md-7">
        <h2 class="featurette-heading">イベント警備業務</h2>
        <hr>
        <p class="lead">来場者や車両の整理誘導、会場内外の不審者・不審物の警戒、身辺警備等にあたります。
                        専門の警備スタッフの指揮の元、来場者の安全とイベントの円滑な運営のため、
                        適切に人員を配置します。</p>
        </div>
        <div class="col-md-5">
        <%= image_tag "test_3.png", class: ""%>
        </div>
    </div>
    </div>
    <hr id='last'>
</div>
