<!-- カルーセル全体の枠組み -->
<div class="carousel slide" id="sample" data-ride="carousel">
    <!-- ここにインディケーターを配置 -->
    <ol class="carousel-indicators">
        <li data-target="#sample" data-slide-to="0" class="active"></li>
        <li data-target="#sample" data-slide-to="1"></li>
        <!-- li data-target="#sample" data-slide-to="2"></li -->
    </ol>
    <!-- ここに画像部分を記述 -->
    <div class="carousel-inner">
        <div class="carousel-item active">
        <%= image_tag "image_1.png", class: "d-block w-100"%>
            <!-- ここに文字部分を記述 -->
            <div class="carousel-caption d-none d-block", id='carousel-1'>
                <p class="text-left" id="rb-1">コンサート・イベントアルバイト</p>
                <h1 class="text-left" id="h1-1">Job Serch</h1>
                <p class="text-left" id="p-1">感動と興奮、熱気にあふれる仕事</p>
            </div>
            <div class="carousel-caption d-none d-block", id='carousel-1-link_to'>
                <%= link_to '今すぐサインアップ', step1_registration_path, class: 'btn btn-primary btn-lg', id: 'link_to-1' %>
            </div>
        </div>
        <div class="carousel-item">
        <%= image_tag "image_2.png", class: "d-block w-100"%>
            <div class="carousel-caption d-none d-block", id='carousel-2'>
                <p class="text-right" id="rb-2">コンサート・イベントアルバイト</p>
                <h1 class="text-right" id="h1-2">Job Serch</h1>
                <p class="text-right" id="p-2">最高の舞台に向けて</p>
            </div>
            <div class="carousel-caption d-none d-block", id='carousel-2-link_to'>
                <%= link_to '今すぐサインアップ', step1_registration_path, class: 'btn btn-primary btn-lg', id: 'link_to-2' %>
            </div>
        </div>
        <!-- div class="carousel-item">
        <%= image_tag "image_3.png" , class: "d-block w-100"%>
            <div class="carousel-caption d-none d-block">
            <h1 class="carousel-h1">Third slide label</h1>
            <p class="carousel-p">Test</p>
            <%= link_to '今すぐサインアップ', step1_registration_path, class: 'btn btn-danger btn-lg', id: 'link_to' %>
            </div>
        </div -->
    </div>
    <!-- 画像遷移のボタンを記述 -->
    <a href="#sample" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only">前の画像へ</span>
    </a>
    <a href="#sample" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only">次の画像へ</span>
    </a>
</div>
<!-- お知らせ -->
<div class="News">
<div class="col-md-6 offset-md-3">
    <h3>お知らせ</h3>
    <hr id='top'>
    <table class="table table-hover" id='top_news'>
        <tbody> 
            <% @news.last(5).reverse_each do |news| %>
                <tr> 
                    <td>
                        <%= news.created_at.strftime('%Y/%m/%d') %>
                    </td>
                    <td>
                        <%= link_to news.title, news %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="text-right">
    <%= link_to 'ニュース一覧', news_index_path, class: 'btn btn-outline-primary'%>
    </div>
</div>
</div>
<!-- アクセス・お問い合わせ -->
<div class="access">
<div class="col-md-6 offset-md-3">
    <h3>アクセス・お問い合わせ</h3>
    <hr id='top'>
    <table class="table table-striped table-hover" id='access'>
        <tbody> 
            <tr>
                <td>住所</td>
                <td>〒171-0043 東京都豊島区要町1-4-12 戸田ビル4F</td>
            </tr>
            <tr>
                <td>電話番号</td>
                <td>TEL : 080-2237-6638</td>
            </tr>
            <tr>
                <td>アクセス</td>
                <td>池袋駅<br>西口から徒歩15分</td>
            </tr>
            <tr>
                <td>受付時間</td>
                <td>10:00 ~ 18:00</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<hr class="featurette-divider">



