
<div>
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center pt-5"> WEB登録フォーム</h2>
        <hr width="750" align="left">

            <p id="step">STEP1 応募情報登録 >STEP2 写真アップロード ></p><h5 id="step">STEP3 確認</h5> >STEP4 完了

        <h2 class="text-left pt-5"> 入力内容を確認してください </h2>
        <%= form_for @user, url: registration_path do |f| %>
        <table id="form_table">
            <tr>
                <td><%= f.label :new_profile_picture %></td>
                <td><%= image_tag @user.new_profile_picture.to_s%>
                <%= f.hidden_field :new_profile_picture %></td>
            </tr>
            <tr>
                <td>
                    姓名(漢字)
                </td>
                <td>
                    <%= @user.full_name%>
                    <%= f.hidden_field :last_name %>
                    <%= f.hidden_field :first_name %>
                </td>
            </tr>
            <tr>
                <td>
                    姓名(カナ)
                </td>
                <td>
                    <%= @user.full_name_kana%>
                    <%= f.hidden_field :last_name_kana, class: 'form-control', placeholder: 'セイ(全角カナ)' %>
                    <%= f.hidden_field :first_name_kana, class: 'form-control', placeholder: 'メイ(全角カナ)' %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    性別
                </td>
                <td>
                    <%= @user.gender == 'male' ? '男' : '女'%>
                    <%= f.hidden_field :gender %>
                </td>
            </tr>
            <tr>
                <td>
                    生年月日
                </td>
                <td>
                    <%= @user.birthday %>
                    <%= f.hidden_field :birthday %>
                </td>
            </tr>
            <tr>
                <td>
                    メールアドレス
                </td>
                <td>
                    <%= @user.email %>
                </td>
                <td>
                <%= f.hidden_field :email %>
                </td>
            </tr>
            <tr>
                <td>
                    電話番号
                </td>
                <td>
                    <%= @user.number%>
                </td>
                <td>
                    <%= f.hidden_field :number, class: 'form-control' %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= f.label :postcode, '郵便番号' %>
                </td>
                <td>
                    <%= @user.postcode %>
                    <%= f.hidden_field :postcode %>
                </td>
            </tr>
            <tr>
                <td>
                    都道府県
                </td>
                <td>
                    <%= @user.prefecture_name %>
                    <%= f.hidden_field :prefecture_code %>
                <td>
            </tr>
            <tr>
                <td>
                    市区町村
                </td>
                <td>
                    <%= @user.address_city %>
                    <%= f.hidden_field :address_city %>
                </td>
            </tr>
            <tr>
                <td>
                    番地・建物
                </td>
                <td>
                    <%= @user.address_street %>
                    <%= f.hidden_field :address_street %>
                </td>
            </tr>
            <tr>
                <td>
                    最寄駅
                </td>
                <td>
                    <%= @user.station %>
                    <%= f.hidden_field :station %>
                </td>
            </tr>
            <tr>
                <td>
                    パスワード
                </td>
                <td>
                    <%= '非表示'%>
                    <%= f.hidden_field :password %>
                </td>
            </tr>
            <tr>
                <td>
                    パスワード(確認)
                </td>
                <td>
                    <%= '非表示'%>
                    <%= f.hidden_field :password_confirmation %>
                </td>
            </tr>
        </table>
        <%= f.submit '戻る', name: 'back', class: 'btn btn-primary'%>
        <%= f.submit '登録する', class: 'btn btn-primary'%>
        <% end %>
    </div>
</div>