<%= form_with model: event, local: true do |f| %>
<table class="table table-bordered" id="form_table">
    <tbody>
        <tr>
            <td><%= f.label :title %></td>
            <td><%= f.text_field :title, class: 'form-control', id: 'event_title' %></td>
        </tr>
        <tr>
            <td><%= f.label :descriotion %></td>
            <td><%= f.text_field :description, class: 'form-control', id: 'event_description' %></td>
        </tr>
        <tr>
            <td><%= f.label :place %></td>
            <td><%= f.text_field :place, class: 'form-control', id: 'event_place' %></td>
        </tr>
        <tr>
            <td><%= f.label :wages %></td>
            <td><%= f.number_field :wages, class: 'form-control', id: 'event_wages' %> 円</td>
        </tr>
        <tr>
            <td><%= f.label :allowance %></td>
            <td><%= f.number_field :allowance, class: 'form-control', id: 'event_allowance' %> 円</td>
        </tr>
        <tr>
            <td><%= f.label :limit %></td>
            <td><%= f.number_field :limit, class: 'form-control', id: 'event_limit' %> 人</td>
        </tr>
        <tr>
            <td><%= f.label :remark %></td>
            <td><%= f.text_area :remark, rows: 5, class: 'form-control', id: 'event_remark' %></td>
        </tr>
        <tr>
            <td><%= f.label :start, {class:'control-label'}%></td>
            <td><%= f.datetime_select :start, {default: Date.today + 0.hours + 00.minutes, minute_step: 15}, class: 'form-control bootstrap-datetime-width', id: 'event_start' %></td>
        </tr>
        <tr>
            <td><%= f.label :end, {class:'control-label'}%></td>
            <td><%= f.datetime_select :end, {default: Date.today + 0.hours + 00.minutes, minute_step: 15}, class: 'form-control bootstrap-datetime-width', id: 'event_end' %></td>
        </tr>
        <tr>
            <td><%= f.label :deadline, {class:'control-label'}%></td>
            <td><%= f.datetime_select :deadline, {default: Date.today + 0.hours + 00.minutes, minute_step: 15}, class: 'form-control bootstrap-datetime-width', id: 'event_deadline' %></td>
        </tr>
    </tbody>
</table>
<%= f.submit nil, class: 'btn btn-primary js-event-create-btn' %>
<% end %>  