<%= params[:year] + "/" + params[:month] + "/" + params[:day]%>
<div class="col-md-6 offset-md-3"> 
    <% wday = Date.new(params[:year].to_i, params[:month].to_i, params[:day].to_i).wday %>
    <h2><%= %w(日 月 火 水 木 金 土)[wday] + '曜日' %></h2>
    <% Event.all.each do |event| %>
      <% if event.start.year.to_s == params[:year] && sprintf("%02d", event.start.month) == params[:month] && sprintf("%02d", event.start.day) == params[:day] %>
        <table class="table table-bordered table-hover"> 
            <tbody> 
                <tr>
                    <td>
                        <%= "案件名: "%><%= link_to event.title, event %> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= "見込金額: #{event.wages * (event.end - event.start).to_i}" %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= "勤務時間:" + event.start.strftime("%H:%M").to_s + '-' + event.end.strftime("%H:%M").to_s %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= "作業場所: "%>
                    </td>
                </tr>
            </tbody>
        </table>
      <% end %>
    <% end %>
</div>