<%= params[:year] + "/" + params[:month] + "/" + params[:day]%>
<div class="col-md-8 offset-md-2"> 
    <% wday = Date.new(params[:year].to_i, params[:month].to_i, params[:day].to_i).wday %>
    <%= %w(日 月 火 水 木 金 土)[wday] + '曜日' %>
    <% Event.all.each do |event| %>
      <% if event.start.year.to_s == params[:year] && sprintf("%02d", event.start.month) == params[:month] && sprintf("%02d", event.start.day) == params[:day] %>
        <table class="table table-hover"> 
            <tbody> 
                <tr>
                    <th>
                        <%= link_to event.title, event_path(event.id) %> 
                    </th>
                </tr>
                <tr>
                    <td>
                        <%= simple_format(h(event.description), {}, sanitize: false, wrapper_tag: "div") %> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= event.wages%>
                    </td>
                </tr>
            </tbody>
        </table>
      <% end %>
    <% end %>
</div>