<% working_hours = 0 %> <%# 労働時間 %>
<% overtime = 0 %> <%# 残業時間 %>
<% ovettime_sum = 0 %> <%# 総残業時間 %>
<% base_pay = 0 %>　<%# 基本給 %>
<% overtime_pay = 0 %> <%# 残業代 %>
<% allowance = 0 %>　<%# 別途手当 %>
<% gros_pay = 0 %> <%# 総支給額 %>
<% @events.each do |event| %>
    <% applicant = EventApplicant.find_by(event_id: event.id, applicant_id: current_user.id)  %>
    <% if applicant.finish != nil && applicant.begin != nil %>
        <% working_hours = (applicant.finish - applicant.begin) / 3600 %>
        <% overtime = working_hours - 8 %>
        <% if overtime > 0 %> 
            <% overtime_sum += overtime %>
            <% gros_pay += event.wages * (working_hours - overtime + overtime * 1.5).to_i %>
            <% overtime_pay += event.wages * (overtime * 1.5).to_i %>
            <% base_pay += event.wages * (working_hours - overtime).to_i%>
        <% else %>
            <% gros_pay += event.wages * working_hours.to_i %>
            <% base_pay += event.wages * working_hours.to_i %>
        <% end %>
        <% allowance += event.allowance %>
        <% gros_pay += event.allowance %>
    <% end %>
<% end %>
<div class="col-md-6 offset-md-3" id="test"> 
    <h2 class="text-center pt-5"> 給与明細 </h2> 
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                スタッフNo
            </th>
            <td>
                <%= current_user.id %>
            </td>
        </tr>
        <tr>
            <th>
                氏名
            </th>
            <td>
                <%= current_user.full_name %>
            </td>
        </tr>
        <tr>
            <th>
                支払日
            </th>
            <td>
                <%= params[:year] + "/" + sprintf('%02d', params[:month].to_i + 1) + "/15" %>
            </td>
        </tr>
        <tr>
            <th>
                総支給額
            </th>
            <td>
                <%= "#{gros_pay}円" %>
            </td>
        </tr>
        <tr>
            <th>
                基本支給額
            </th>
            <td>
                <%= "#{base_pay}円"%>
            </td>
        </tr>
        <tr>
            <th>
                残業支給額
            </th>
            <td>
                <%= "#{overtime_pay}円"%>
            </td>
        </tr>
        <tr>
            <th>
                別途手当額
            </th>
            <td>
                <%= "#{allowance}円"%>
            </td>
        </tr>
    </table>
</div>

<% @events.each do |event| %>
    <% applicant = EventApplicant.find_by(event_id: event.id, applicant_id: current_user.id)  %>
    <% if applicant.finish != nil && applicant.begin != nil %>
    <div class="col-md-6 offset-md-3" > 
        <table class="table table-bordered table-hover">
        <tr>
            <tr>
                <th>
                    案件名
                </th>
                <td>
                    <%= link_to event.title, event %>
                </td>
            </tr>
                <th>
                    作業日
                </th>
                <td>
                    <%= applicant.begin.strftime("%Y/%m/%d").to_s %>
                </td>
            </tr>
            <tr>
                <th>
                    就業時間
                </th>
                <td>
                    <%= applicant.begin.strftime("%H:%M").to_s + '-' + applicant.finish.strftime("%H:%M").to_s %>
                </td>
            </tr>
            <tr>
                <th>
                    支給額
                </th>
                <td>
                    <% working_hours = (applicant.finish - applicant.begin) / 3600 %>
                    <% overtime = working_hours - 8 %>
                    <% if overtime > 0 %> 
                        <% working_hours = working_hours - overtime + overtime * 1.5 %>
                    <% end %>
                    <%= "#{event.wages * working_hours.to_i + event.allowance}円" %>
                </td>
            </tr>
        </table>
    </div>
    <% end %>
<% end %>
