<div> 
    <div class="col-md-6 offset-md-3"> 
        <h2 class="text-center pt-5"> 案件管理 </h2>
            <%= search_form_for @q, url: "manager", class: 'mb-5 form-inline' do |f| %>
                <div class="col-som-10">
                    <%= f.search_field :id_eq, class: 'form-control', placeholder: 'id'  %>
                </div>
                <div class="col-som-10">
                    <%= f.search_field :title_cont, class: 'form-control', placeholder: 'タイトル'  %>
                </div>
                <div class="form-group">
                    <%= f.submit class: 'btn btn-outline-primary' %>
                </div>
            <% end %>
        <div class="text-center">
            <h3><%= @month.strftime("%Y年%m月") %></h3>
        </div>
        <div class="btn-toolbar">
            <div class="btn-group">
                <%= link_to "＜", manager_events_path(month:@month.prev_month), class:"btn btn-secondary"%>
            </div>
            <div class="btn-group ml-auto">
                <%= link_to "＞", manager_events_path(month:@month.next_month), class:"btn btn-secondary"%>
            </div>
        </div>
        <table class="table table-hover">
            <thead> 
                <tr>
                    <th>
                        <%= sort_link(@q, :id) %> 
                    </th>
                    <th>
                        <%= Event.human_attribute_name(:title) %>
                    </th>
                    <th>
                        <%= Event.human_attribute_name(:start) %>
                    </th>
                </tr>
            </thead>
            <tbody> 
                <% @events.each do |event| %>
                    <tr> 
                        <td>
                            <%= link_to event.id, event %>
                        </td>
                        <td>
                            <%= link_to event.title, event %>
                        </td>
                        <td>
                            <%= event.start.strftime("%m月%d日 %H:%M") %>
                        </td>
                    </tr>

                <% end %>
            </tbody>
        </table>
        <%= paginate @events %>
        <div class="text-right">
        <%= link_to '追加', new_event_path, class: 'btn btn-primary' %> 
        </div>
    </div>

</div>