<div class="event_show_container">
    <div class="col-md-6 offset-md-3"> 
        <div class="nav justify-content-end">
            <% if current_user.admin? %>
                <%= link_to '編集', edit_event_path, class: 'btn btn-primary' %>
                <%= link_to '削除', @event, method: :delete, data: { confirm: "この案件を削除しますか？"}, class: 'btn btn-danger' %> 
            <% end %>
        </div>
        <table class="table table-bordered table-hover"> 
            <tbody> 
                <tr>
                    <td class="table_left">
                        案件名
                    </td>
                    <td>
                        <%= @event.title %> 
                    </td>
                </tr>
                <tr>
                    <td class="table_left">
                        作業場所
                    </td>
                    <td>
                        <%= @event.place %> 
                    </td>
                </tr>
                <tr>
                    <td class="table_left">
                        勤務予定時間
                    </td>
                    <td>
                        <%= " #{@event.start.strftime("%H:%M")} - #{@event.end.strftime("%H:%M")} " %> 
                    </td>
                </tr>
                <tr>
                    <td class="table_left">
                        時給
                    </td>
                    <td>
                        <%= "#{@event.wages}円" %> 
                    </td>
                </tr>
                <tr>
                    <td class="table_left">
                        別途手当
                    </td>
                    <td>
                        <%= "#{@event.allowance}円" %> 
                    </td>
                </tr>
                <tr>
                    <td class="table_left">
                        見込み金額
                    </td>
                    <td>
                        <%= "#{@event.wages * ((@event.end - @event.start) / 3600).to_i + @event.allowance}円" %> 
                    </td>
                </tr>
                <tr>
                    <td class="table_left">
                        備考
                    </td>
                    <td>
                        <%= simple_format(h(@event.remark), {}, sanitize: false, wrapper_tag: "div") %> 
                    </td>
                </tr>
            </tbody>
        </table>

        <% unless current_user.admin %>
            <%if @event.deadline > DateTime.now %>
                <% if @event.applicant_ids.include?(current_user.id) %>
                    <% if EventApplicant.find_by(event_id: @event.id, applicant_id: current_user.id).request == false %>
                        <%= link_to "申し込みをキャンセルする", cancel_request_event_path(@event.id), data: { confirm: "こちらの案件への申し込みをキャンセルしますか？" }, class:"btn btn-primary" %>
                    <% end %>
                <% else %>
                    <% #申し込み上限判定 %>
                    <% if @event.limit > @event.applicant_ids.size %>
                        <%= link_to "申し込む", apply_event_path(@event.id), data: { confirm: "こちらの案件に申し込みますか？" }, class:"btn btn-primary" %>
                    <% end %>
                <% end %>
            <% end %>
            <% if @event.start.day == Date.today.day %>
                <% if @event.applicant_ids.include?(current_user.id) %>
                    <% if EventApplicant.find_by(event_id: @event.id, applicant_id: current_user.id).attendance == false %>
                        <%= link_to '出勤確認', punch_in_event_path, class:"btn btn-primary" %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>

<% if current_user.admin? %>
    <div>
        <div class="col-md-8 offset-md-2"> 
            <h2 class="text-center pt-5"> 申し込み者一覧 </h2>
                    <table class="table table-hover">
                <thead> 
                    <tr>
                        <th>
                            <%= User.human_attribute_name(:id) %> 
                        </th>
                        <th>
                            <%= '名前' %> 
                        </th>
                        <th>
                            キャンセル
                        </th>
                        <th>
                            出勤確認
                        </th>
                        <th>
                            出勤時間
                        </th>
                        <th>
                            退勤時間
                        </th>
                        <th>
                            勤怠処理
                        </th>
                    </tr>
                </thead>
                <tbody> 
                    <%# fields_forのindexに合わせて申し込みの昇順でソートする %>
                    <% @applicants.sort_by{|app| EventApplicant.find_by(event_id: @event.id, applicant_id: app.id).created_at }.each_with_index do |applicant, idx| %>
                        <% user_applicant = EventApplicant.find_by(event_id: @event.id, applicant_id: applicant.id)%>
                        <tr> 
                            <td>
                                <%= link_to applicant.id, [:admin, applicant] %>
                            </td>
                            <td>
                                <%= link_to applicant.full_name, [:admin, applicant] %>
                            </td>
                            <td>
                                <% if user_applicant.request %>
                                    <% #link_toにcancelメソッドで受け取るパラメータを付与する%>
                                    <%= link_to "◯", cancel_event_path(applicant_id: applicant.id ), data: { confirm: "こちらの案件への申し込みをキャンセルしますか？" } %>
                                <% else %>
                                    <%= link_to "-", cancel_event_path(applicant_id: applicant.id ), data: { confirm: "こちらの案件への申し込みをキャンセルしますか？" } %>
                                <% end %>
                            </td>
                            <td>
                                <% if user_applicant.attendance %>
                                    ○
                                <% else %>
                                    -
                                <% end %>
                            </td>
                            <td>
                                <%= form_for @event do |f| %>
                                    <%= f.fields_for :event_applicants do |e| %>　<%# 関連付けられたモデルにデータを同時保存する model,controller側ではaccepts_nested_attributes_for view側ではfields_for %>
                                        <% if idx == e.index %> <%# FormBuilderオブジェクトのインスタンスメソッドで各インスタンスのindexを取得する %>
                                        <%= e.datetime_select :begin, {default: @event.start, minute_step: 15}, class: 'form-control bootstrap-datetime-width', id: 'event_applicants_begin' %>
                                        <% end %>
                                    <% end %>
                                <%= f.submit '確定' %>
                                <% end %>
                            </td>
                            <td>
                                <%= form_for @event do |f| %>
                                    <%= f.fields_for :event_applicants do |e| %>
                                        <% if idx == e.index %> <%# FormBuilderオブジェクトのインスタンスメソッドで各インスタンスのindexを取得する %>
                                        <%= e.datetime_select :finish, {default: @event.end, minute_step: 15}, class: 'form-control bootstrap-datetime-width', id: 'event_applicants_finish' %>
                                        <% end %>
                                    <% end %>
                                <%= f.submit '確定' %>
                                <% end %>
                            </td>
                            <td>
                                <% if user_applicant.finish != nil && user_applicant.begin != nil %>
                                    ○
                                <% else %>
                                    -
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <%= paginate @applicants %>
        </div>
    </div>
<% end %>
