<% unless current_user.admin %>
    <% if @event.applicant_ids.include?(current_user.id) %>
        <%= link_to "申し込みをキャンセルする", cancel_event_path(@event.id), data: { confirm: "こちらの案件への申し込みをキャンセルしますか？" } %>
    <% else %>
        <%= link_to "申し込む", apply_event_path(@event.id), data: { confirm: "こちらの案件に申し込みますか？" } %>
    <% end %>
<% end %>
<div>
    <div class="col-md-4 offset-md-4"> 
        <h2 class="text-center pt-5"> 本文 </h2>
        <div class="nav justify-content-end">
            <%= link_to 'ワーク一覧', events_path, class: 'nav-link' %>
            <% if current_user.admin? %>
                <%= link_to '編集', edit_event_path, class: 'nav-link' %>
                <%= link_to '削除', @event, method: :delete, data: { confirm: "このワークを削除しますか？"}, class: 'nav-link' %> 
            <% end %>
        </div>
        <table class="table table-hover"> 
            <tbody> 
                <tr>
                    <th>
                        <%= @event.title %> 
                    </th>
                </tr>
                <tr>
                    <td>
                        <%= simple_format(h(@event.description), {}, sanitize: false, wrapper_tag: "div") %> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>