
<div class="col-md-6 offset-md-3">
    <h2>お知らせ</h2>
    <table class="table table-hover">
        <thead> 
        <tr>
                <th>
                    <%= sort_link(@q, :id) %> 
                </th>
                <th>
                    <%= '日付' %> 
                </th>
                <th>
                    <%= 'タイトル' %>
                </th>
            </tr>
        </thead>
        <tbody> 
            <% @news.each do |news| %>
                <tr> 
                    <td>
                        <%= news.id %>
                    </td>
                    <td>
                        <%= news.created_at.strftime('%Y/%m/%d') %>
                    </td>
                    <td>
                        <%= link_to news.title, news %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= paginate @news %>