<%= form_with model:[:admin, user], local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    <div class="form-check"> 
        <%= f.label :admin, class: 'form-check-label' %>
        <%= f.check_box :admin ,class: 'form-check-input' %>
    </div>
    <%= f.submit nil, class: 'btn btn-primary'%>
<% end %>

