<div> 
    <div class="col-md-6 offset-md-3"> 
        <h2 class="text-center pt-5"> ユーザー管理 </h2>
            <%= search_form_for @q, url: "users", class: 'mb-5 form-inline' do |f| %>
                <div class="col-som-10">
                    <%= f.search_field :id_eq, class: 'form-control', placeholder: 'id'  %>
                </div>
                <div class="col-som-10">
                    <%= f.search_field :name_cont, class: 'form-control', placeholder: '氏名'  %>
                </div>
                <div class="form-group">
                    <%= f.submit class: 'btn btn-outline-primary' %>
                </div>
            <% end %>
            <%= link_to '登録', new_admin_user_path, class: 'btn btn-primary' %> 
        <table class="table table-hover">
            <thead> 
                <tr>
                    <th>
                        <%= sort_link(@q, :id) %>
                    </th>
                    <th>
                        <%= User.human_attribute_name(:name) %> 
                    </th>
                    <th>
                        <%= User.human_attribute_name(:email) %>
                    </th>
                    <th>
                        <%= User.human_attribute_name(:admin) %>
                    </th>
                </tr>
            </thead>
            <tbody> 
                <% @users.each do |user| %>
                    <tr> 
                        <td>
                            <%= link_to user.id, [:admin, user] %>
                        </td>
                        <td>
                            <%= link_to user.name, [:admin, user] %>
                        </td>
                        <td>
                            <%= link_to user.email, [:admin, user] %>
                        </td>
                        <td>
                            <%= user.admin? ? '〇' : '―' %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @users %>
    </div>
</div>