<div> 
    <div class="col-md-5 offset-md-4"> 
        <h2 class="text-center pt-5"> Users </h2>
            <%= link_to '登録', new_admin_user_path, class: 'btn btn-primary' %> 
        <table class="table table-hover">
            <thead> 
                <tr>
                    <th>
                        <%= User.human_attribute_name(:id) %> 
                    </th>
                    <th>
                        <%= User.human_attribute_name(:name) %> 
                    </th>
                    <th>
                        <%= User.human_attribute_name(:email) %>
                    </th>
                    <th>
                        <%= User.human_attribute_name(:admin) %>
                    </th>
                </tr>
            </thead>
            <tbody> 
                <% @users.each do |user| %>
                    <tr> 
                        <td>
                            <%= link_to user.id, [:admin, user] %>
                        </td>
                        <td>
                            <%= link_to user.name, [:admin, user] %>
                        </td>
                        <td>
                            <%= link_to user.email, [:admin, user] %>
                        </td>
                        <td>
                            <%= user.admin? ? '〇' : '―' %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @users %>
    </div>
</div>