<div>
    <div class="col-md-4 offset-md-4">
        <h2 class="text-center pt-5"> User Description </h2>
            <div class="nav justify-content-end"> 
                <%= link_to t('.user_list'), admin_users_path, class: 'nav-link'%>
                <%= link_to t('.edit'), edit_admin_user_path(@user), class: 'nav-link' %>
                <%= link_to t('.delete'), admin_user_path(@user), method: :delete, data: {confirm: "ユーザー「#{@user.name}」を削除してよろしいですか？"}, class: 'nav-link' %>
            </div>
                <table class= "table table-hover">
                    <tbody>
                        <tr>
                            <th>プロフィール画像</th>
                            <td><% if @user.profile_picture.attached? %>
                                    <%= image_tag @user.profile_picture.variant(resize_to_fill: [128, 128]) %>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <th><%= User.human_attribute_name(:id) %> </th>
                            <td><%= @user.id %></td>
                        </tr>
                        <tr>
                            <th><%= User.human_attribute_name(:name) %> </th>
                            <td><%= @user.name %></td>
                        </tr>
                        <tr>
                            <th><%= User.human_attribute_name(:email) %></th>
                            <td><%= @user.email %></td>
                        </tr>
                        <tr>
                            <th><%= User.human_attribute_name(:admin) %></th>
                            <td><%= @user.admin? ? '〇' : '－' %></td>
                        </tr>
                    </tbody>
                </table>
    </div>
</div>
