<div>
    <div class="col-md-6 offset-md-3">
            <div class="nav justify-content-end"> 
                <%= link_to '編集', edit_admin_user_path(@user), class: 'btn btn-primary' %>
                <%= link_to '削除', admin_user_path(@user), method: :delete, data: {confirm: "ユーザー「#{@user.full_name}」を削除してよろしいですか？"}, class: 'btn btn-primary' %>
            </div>
                <table class= "table table-hover table-bordered">
                    <tbody>
                        <tr>
                            <th>プロフィール画像</th>
                            <td><% if @user.profile_picture.attached? %>
                                    <%= image_tag @user.profile_picture.variant(resize_to_fill: [128, 128]) %>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <th><%= User.human_attribute_name(:id) %> </th>
                            <td><%= @user.id %></td>
                        </tr>
                        <tr>
                            <th><%= '姓名(漢字)' %> </th>
                            <td><%= @user.full_name %></td>
                        </tr>
                        <tr>
                            <th><%= '姓名(カナ)' %> </th>
                            <td><%= @user.full_name_kana %></td>
                        </tr>
                        <tr>
                            <th><%= '性別' %> </th>
                            <td><%= @user.gender = :male ? '男' : '女' %></td>
                        </tr>
                        <tr>
                            <th><%= '生年月日' %> </th>
                            <td><%= @user.birthday %></td>
                        </tr>
                        <tr>
                            <th><%= User.human_attribute_name(:email) %></th>
                            <td><%= @user.email %></td>
                        </tr>
                        <tr>
                            <th><%= User.human_attribute_name(:number) %></th>
                            <td><%= @user.number %></td>
                        </tr>
                        <tr>
                            <th><%= '郵便番号' %></th>
                            <td><%= @user.postcode %></td>
                        </tr>
                        <tr>
                            <th><%= "都道府県" %></th>
                            <td><%= @user.address %></td>
                        </tr>
                        <tr>
                            <th><%= User.human_attribute_name(:station) %></th>
                            <td><%= @user.station %></td>
                        </tr>
                        <tr>
                            <th><%= User.human_attribute_name(:admin) %></th>
                            <td><%= @user.admin? ? '〇' : '－' %></td>
                        </tr>
                    </tbody>
                </table>
    </div>
</div>
