
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">ジョブサーチ</a>

  <% if current_user%>
        <li class= "nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if current_user&.admin %>
                <%= link_to '案件一覧', events_path, class: 'nav-link', id: 'nav-linkDropdown' %>
                <%= link_to '案件管理', manager_events_path, class: 'nav-link', id: 'nav-linkDropdown'%>
                <%= link_to 'ユーザー管理', admin_users_path, class: 'nav-link', id: 'nav-linkDropdown'%>
            <% elsif current_user %>
                <%= link_to '案件一覧', events_path, class: 'nav-link', id: 'nav-linkDropdown'%>
                <%= link_to '申し込み一覧', entries_events_path, class: 'nav-link', id: 'nav-linkDropdown' %>
                <%= link_to '給与明細', payments_events_path, class: 'nav-link', id: 'nav-linkDropdown' %>
                <%= link_to 'マイアカウント', account_path, class: 'nav-link', id: 'nav-linkDropdown'%>
            <%end%>
            <div class="dropdown-divider"></div>
            <%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link', id: 'nav-linkDropdown'  %>
          </div>
        </li>
  <% end %>
</nav>

