<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top p-3">
  <a class="navbar-brand mb-0 h1" href="/">ジョブサーチ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
  <ul class="navbar-nav">
    <% if current_user&.admin %>
      <li class="nav-item">
        <%= link_to '案件一覧', events_path, class: 'nav-link', id: 'nav-linkDropdown' %>
      </li>
      <li class="nav-item">
        <%= link_to '案件管理', manager_events_path, class: 'nav-link', id: 'nav-linkDropdown'%>
      </li>
      <li class="nav-item">
        <%= link_to 'ユーザー管理', admin_users_path, class: 'nav-link', id: 'nav-linkDropdown'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign out', logout_path, method: :delete, class: 'nav-link btn btn-outline-secondary', id: 'nav-linkDropdown'%>
      </li>
    <% elsif current_user %>
      <li class="nav-item">
        <%= link_to '案件一覧', events_path, class: 'nav-link', id: 'nav-linkDropdown'%>
      </li>
      <li class="nav-item">
        <%= link_to '申し込み一覧', entries_accounts_path, class: 'nav-link', id: 'nav-linkDropdown'%>
      </li>
      <li class="nav-item">
        <%= link_to '給与明細', payments_accounts_path, class: 'nav-link', id: 'nav-linkDropdown'%>
      </li>
      <li class="nav-item">
        <%= link_to 'アカウント', accounts_path, class: 'nav-link', id: 'nav-linkDropdown'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign out', logout_path, method: :delete, class: 'nav-link btn btn-outline-secondary', id: 'nav-linkDropdown'%>
      </li>
    <%end%>
    <% if current_user == nil %>
      <li class="nav-item">
        <%= link_to 'Sing up', step1_registration_path, class: 'nav-link btn btn-outline-secondary', id: 'nav-linkDropdown'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Sing in', login_path, class: 'nav-link btn btn-outline-secondary', id: 'nav-linkDropdown'%>
      </li>
    <% end %>
  </ul>
</nav>

