<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico', skip_pipeline: true) %>
    <title>ジョブサーチ</title>
    <%= render 'layouts/header' %>
  </head>
  <div class="mb-1">
    <body data-turbolinks="false">
        <div class="jumbotron jumbotron-extend">
            <% if flash.notice.present? %>
              <div class="alert alert-success">
                <%= flash.notice %> 
              </div>
            <% end %>
            <div class="yield-container">
              <%= yield %>
            </div>
        </div>
    </body>
  </div>
</html>
