<div>
    <div class="col-md-4 offset-md-4">
        <% if params[:edit] == 'email' %>
            <h2 class="text-center pt-5"> Eメールアドレスを変更 </h2>

            <%= form_with model: @user, url: account_path, local: true do |f| %>
                <%= '新しいEメールアドレス:' %>
                <%= f.text_field :email, class: 'form-control' %>
                <%= f.submit nil, class: 'btn btn-primary'%>
            <% end %>
        <% elsif params[:edit] == 'number' %>
            <h2 class="text-center pt-5"> 電話番号を変更 </h2>

            <%= form_with model: @user, url: account_path, local: true do |f| %>
                <%= '新しい電話番号:' %>
                <%= f.text_field :number, class: 'form-control' %>
                <%= f.submit nil, class: 'btn btn-primary'%>
            <% end %>
        <% elsif params[:edit] == 'password' %>
            <h2 class="text-center pt-5"> パスワードを変更 </h2>
        <%= form_with model:@user, url:account_path, local: true do |f| %>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
            <%= f.submit nil, class: 'btn btn-primary'%>
        <% end %>
        <% elsif params[:edit] == 'postcode' %>
            <h2 class="text-center pt-5"> 郵便番号を変更 </h2>

            <%= form_with model: @user, url: account_path, local: true do |f| %>
                <%= '新しい郵便番号:' %>
                <%= f.text_field :postcode, class: 'form-control' %>
                <%= f.submit nil, class: 'btn btn-primary'%>
            <% end %>
        <% elsif params[:edit] == 'address' %>
            <h2 class="text-center pt-5"> 住所を変更 </h2>
            <%= form_with model: @user, url: account_path, local: true do |f| %>
            <%= '新しい住所:' %>
            <table>
            <tr>
                <td><%= f.label :prefecture_code, '都道府県' %></td>
                <td><%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-control', id: 'user_prefecture_code' %></td>
            </tr>
            <tr>
                <td><%= f.label :address_city, '市区町村' %></td>
                <td><%= f.text_field :address_city, autocomplete: 'address_city', class: 'form-control', id: "user_address_city" %></td>
            </tr>
            <tr>
                <td><%= f.label :address_street, '番地' %></td>
                <td><%= f.text_field :address_street, autocomplete: 'address_street', class: 'form-control', id: "user_address_street" %></td>
            </tr>
            <tr>
                <td><%= f.label :address_building, '建物' %></td>
                <td><%= f.text_field :address_building, autocomplete: 'address_building', class: 'form-control' %></td>
            </tr>
            <tr>
                <td><%= f.submit nil, class: 'btn btn-primary'%></td>
            </tr>
            </table>
            <% end %>
        <% elsif params[:edit] == 'station' %>
            <h2 class="text-center pt-5"> 最寄駅を変更 </h2>

            <%= form_with model: @user, url: account_path, local: true do |f| %>
                <%= '新しい最寄駅:' %>
                <%= f.text_field :station, class: 'form-control' %>
                <%= f.submit nil, class: 'btn btn-primary'%>
            <% end %>
        <% end %>
    </div>
</div>